{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}



    <header class="masthead" style="background-image: url('https://cdn.pixabay.com/photo/2018/01/04/07/59/salt-harvesting-3060093_1280.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">

            {% if is_edit: %}
                <h1 class="new-list-title">{{current_user.lists[list_id].list_name}} &nbsp; <a href="#"><i class="fas fa-pen list-pen-icon"></i></a></h1>
            {% else: %}
                <h1 class="new-list-title">Tasks for {{current_user.lists[list_id].list_name}}</h1>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
    </header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for task in current_user.lists[list_id].tasks %}
                <ul>
                    <li>
                        <div>
                            {% if is_edit: %}
                                {% if task.done: %}
                                    <h3><s>{{task.task_name}}</s> &nbsp; &nbsp; <a href="{{url_for('edit_task', list_id=list_id, task_id=current_user.lists[list_id].tasks.index(task))}}"><i class="fas fa-pen"></i></a> &nbsp; <a href="{{url_for('delete_task', task_id=current_user.lists[list_id].tasks.index(task), list_id=list_id)}}"><i class="fas fa-times"></i></a></h3>

                                {% else: %}
                                    <h3>{{task.task_name}} &nbsp; &nbsp; <a href="{{url_for('edit_task', list_id=list_id, task_id=current_user.lists[list_id].tasks.index(task))}}"><i class="fas fa-pen"></i></a> &nbsp; <a href="{{url_for('delete_task', task_id=current_user.lists[list_id].tasks.index(task), list_id=list_id)}}"><i class="fas fa-times"></i></a></h3>
                                {% endif %}
                            {% else: %}
                                {% if task.done: %}
                                    <h3><s>{{task.task_name}}</s> &nbsp; &nbsp; <a href="{{url_for('done_task', list_id=list_id, task_id=current_user.lists[list_id].tasks.index(task))}}"><i class="fas fa-check"></i></a></h3>
                                {% else: %}
                                    <h3>{{task.task_name}} &nbsp; &nbsp; <a href="{{url_for('done_task', list_id=list_id, task_id=current_user.lists[list_id].tasks.index(task))}}"><i class="fas fa-check"></i></a></h3>
                                {% endif %}
                            {% endif %}
                        </div>
                    </li>
                </ul>
            {%endfor%}
        </div>

        <div class="col-lg-8 col-md-10 mx-auto some-margin little-top-margin">
            {% if is_edit: %}
                <a class="btn btn-primary btn-lg" href="{{ url_for('show_tasks', list_id=list_id) }}" role="button">Show Tasks</a>
            {% else: %}
                <a class="btn btn-primary btn-lg" href="{{ url_for('edit_tasks', list_id=list_id) }}" role="button">Edit Tasks</a>
            {% endif %}

            <a class="btn btn-primary btn-lg" href="{{ url_for('add_new_task', list_id=list_id) }}" role="button">Add Tasks</a>
        </div>
    </div>
</div>


</body>
</html>
{% endblock %}